.product-sec {
  display: flex;
  gap: 15px;
  padding: 15px 8vw;
  width: 100%;
}
.product-sec img {
  width: 15px;
  height: 15px;
}

.product-util {
  height: fit-content;
  width: 100vw;
  gap: 15px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 10px 0;
  background-color: #f5f5f5;
}

.util-grid {
  display: flex;
  gap: 10px;
  background-color: #fff;
}

.image-slider {
  border-radius: 10px;
  height: 300px;
  width: 300px;
  position: relative;
  background-image: url(../pic/card11.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.images {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #fff;
  height: 50px;
  gap: 10px;
  padding: 10px;
}
.images img {
  width: 100%;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}

.images img.active {
  opacity: 0.5;
}

.cover {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cover h2 {
  text-transform: uppercase;
  font-weight: 800;
  border-top: 1px solid grey;
  padding: 8px 0;
}
.cover span {
  height: fit-content;
  width: fit-content;
  border: 1px solid black;
  padding: 8px;
  border-radius: 50%;
}

.size-radio-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  border: 1px solid rgb(228, 151, 7);
  border-radius: 50%;
  margin: 0 10px;
  margin-left: 0;
  padding: 5px 5px 5px 5px;
  line-height: 40px;
  align-self: center;
  text-transform: uppercase;
  color: #383838;
  cursor: pointer;
}

.size-radio-btn.check {
  background-color: rgb(228, 151, 7);
  color: #fff;
}

.btn {
  width: 48%;
  padding: 20px;
  background: none;
  border: 1px solid #383838;
  color: #383838;
  font-size: 20px;
  cursor: pointer;
  margin: 20px 0;
  text-transform: capitalize;
}

.ratings {
  border-bottom: 1px solid rgb(148, 147, 147);
}
.ratings p {
  background: rgb(228, 151, 7);
  color: #f5f5f5;
  font-size: 14px;
  margin: 10px 0;
}

.size {
  border-top: 1px solid rgb(148, 147, 147);
}
.size aside {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.size aside h2 {
  text-transform: uppercase;
  font-size: 17px;
}

.discount {
  color: rgb(228, 151, 7);
  background-color: rgb(245, 211, 149);
  padding: 3px;
  font-size: 14px;
  margin: 0 10px;
}

.cart {
  background-color: rgb(228, 151, 7);
  border-radius: 10px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  height: 20px;
  color: #f5f5f5;
  text-align: center;
  padding: 15px 10px;
  text-transform: uppercase;
  margin: 10px 0;
}

.star {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(228, 151, 7);
  margin-left: 10px;
}

.promo {
  margin: 5px 0;
  padding: 10px 0;
  border-top: 1px solid rgb(148, 147, 147);
  text-transform: uppercase;
}

.delivery-track, .this {
  display: flex;
  justify-content: space-between;
}
.delivery-track a, .this a {
  align-self: center;
}

.delivery-info {
  padding: 0 10px;
  margin-right: 8vw;
  background-color: #fff;
  border-radius: 10px;
}
.delivery-info h2 {
  text-transform: uppercase;
  border-bottom: 1px solid rgb(148, 147, 147);
  padding: 10px 0;
}

.brand {
  text-transform: uppercase;
  border-bottom: 1px solid rgb(148, 147, 147);
  padding: 10px 0;
}

label {
  padding: 10px 0;
  text-transform: capitalize;
  font-weight: 700;
}

select {
  height: 20px;
  padding: 20px 15px;
  width: 250px;
  margin: 10px 0;
}
select::placeholder {
  visibility: visible;
}

*::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 8vw;
}

.menu-icons {
  display: flex;
  gap: 10px;
  transition: 0.4s ease-in-out;
}
.menu-icons img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: fit-content;
  background-color: #f5f5f5;
}

.nav-bar {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px 0;
  border-top: 1px solid grey;
}
.nav-bar a {
  text-decoration: none;
  opacity: 0.5;
  color: #383838;
  font-size: 14px;
  transition: 0.4s ease-in;
  text-transform: capitalize;
  font-size: 18px;
}
.nav-bar a:hover {
  opacity: 1;
}

.logo {
  object-fit: cover;
  align-self: center;
  width: 95px;
  height: 50px;
}

#search {
  width: 300px;
  height: fit-content;
  padding: 15px 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btnn {
  padding: 12px 20px;
  height: fit-content;
  width: fit-content;
  font-size: 18px;
  color: #f5f5f5;
  background-color: #383838;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-menu {
  display: flex;
}

.text-sell {
  position: absolute;
  text-align: center;
  background: rgba(75, 74, 74, 0.2);
  height: calc(100vh - 120px);
  width: 100%;
}
.text-sell p {
  color: #f5f5f5;
  font-size: 14px;
}
.text-sell h2 {
  font-weight: bold;
  font-size: 45px;
  color: #666666;
  animation: example 3s ease-out infinite;
}

@keyframes example {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.product-sell {
  position: relative;
  height: fit-content;
}
.product-sell img {
  height: calc(100vh - 120px);
  object-fit: cover;
  width: 100%;
}

.btn-2 {
  width: fit-content;
  height: fit-content;
  padding: 15px 35px;
  border-radius: 25px;
  border: none;
  text-transform: capitalize;
}

.trans {
  transform: translateY(98%);
}

.fa {
  font-size: 80px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: rgb(2, 2, 87);
}

.card-product {
  padding-bottom: 10px;
  position: relative;
}
.card-product p {
  position: absolute;
  color: rgb(228, 151, 7);
  background-color: rgb(245, 211, 149);
  padding: 3px;
  font-size: 14px;
}
.card-product img {
  object-fit: cover;
  width: 200px;
  height: 150px;
}

a {
  text-decoration: none;
  color: black;
}

.splash p {
  font-weight: bold;
  text-transform: capitalize;
}

.best-card {
  height: fit-content;
  width: 200px;
  background-color: #f5f5f5;
  padding: 5px;
}
.best-card:hover {
  transform: scale(1);
}

.best-grid {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: fit-content;
  margin: 20px 0;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.best {
  height: fit-content;
  padding: 20px 8vw;
}
.best h2 {
  font-weight: bold;
  color: #383838;
}

.de {
  color: grey;
  font-size: 14px;
}

.through {
  text-decoration: line-through;
  color: grey;
}

.apparel-card {
  width: 250px;
  height: 390px;
  border-radius: 20px;
  padding: 15px 15px 20px 15px;
  background-color: #fff;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}
.apparel-card:hover {
  transform: scale(1.1);
}
.apparel-card img {
  width: 240px;
  height: 220px;
  object-fit: cover;
  border-radius: 15px;
}

.name {
  color: grey;
  font-weight: 600;
  font-size: 15px;
}

.brands {
  text-transform: capitalize;
  font-weight: 600;
}

.actual-price {
  display: flex;
  justify-content: space-between;
}
.actual-price p {
  align-self: center;
  color: rgb(240, 212, 161);
}

.apparel {
  padding: 20px 0;
  background-color: #f5f5f5;
  width: 100%;
  height: fit-content;
}

.cart-price {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  align-self: center;
  padding: 10px;
  background-color: rgb(240, 212, 161);
}

.apparel-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 8vw;
}/*# sourceMappingURL=index.css.map */