@use "product" as *;
// @use "main" as *;
$mobile:799px;
@mixin responsive {
   @media(max-width:$mobile){
      @content;
   };

};
*{
   padding: 0;
   margin:0;
   box-sizing: border-box;
}
body{
   width: 100vw;
   overflow-x: hidden;
}
nav{
   display: flex;
   justify-content: space-between;
   padding: 20px 8vw;
}
.wrap{
   display: none;
}
.cartss{
   padding:4px 8px;
   height: fit-content;
   align-self: center;
   i{
      font-size: 24px;
      margin: -38px 10px 0 0 ;
   }
   a{
     margin-right:3px ;
     text-decoration: none;
     transition: all 0.3s ease-in-out;

   }
   sup{
      margin-left: 5px;
      font-size:13;
      vertical-align: super;
   }
}
@include responsive{
   .wrap{
      display:flex;
      gap:25px;
   }
   #checkbox {
      display: none;
    }
     
    //  /**
    //    Hamburger
    //  **/
   .ham {
      position: absolute;
      top: 3em;
      right: 5%;
      margin-left: -2em;
      margin-top: -39px;
      // background-color: #090E6B;
      width: 2em;
      height: 45px;
      z-index: 200;
   }
     
   .ham div {
      position: relative;
      width: 2em;
      height: 3.5px;
      border-radius: 5px;
      background-color: #383838;
      margin-top: 7px;
      transition: all 0.3s ease-in-out;
   }
     
   //  /**
   //  Nav Styles
   //  **/
   .nav {
      position: fixed;
      width: 250px;
      height: 50vh;
      background-color: #f5f5f5;
      top:12% ;  right: 0;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      transform: scale(0);
      z-index: 199;
      padding:20px 0;
      

   }
   #nav-bar {
      display: flex;
      gap: 15px;
      align-items: center;
      flex-direction: column;
   }
   #nav-bar p {
      list-style: none;
      position: relative;
   }
   
  #nav-bar p a {
      text-decoration: none;
      color: #383838;
      opacity: 0.7;
      font-size: 17px;
      transition: all 0.3s ease-in-out;
      text-transform: capitalize;
      font-weight: 700;
   }
   #nav-bar p a:hover {
      color: #383838;
      opacity: 1;
   }
   #nav-bar p a.activate {
      color: #383838;
      opacity: 1;
   }
   #nav-bar p a.activate::after,
   #nav-bar p a:hover::after {
      content: "";
      width: 30%;
      height: 2px;
      background-color: #383838;
      position: absolute;
      bottom: -4px;
      left: 20px;
   }
   //animations
   #checkbox:checked +.ham .top-bun {
      transform: rotate(-45deg);
      margin-top: 22px;
   }
   #checkbox:checked +.ham .bottom-bun {
      opacity: 0;
      transform: 45deg;
      }
   #checkbox:checked +.ham .meat {
      transform: rotate(45deg);
      margin-top: -5px;
   }
   #checkbox:checked+ .ham + .nav {
      transform: scale(1);
   }
}
.menu-icons{
   display:flex;
   gap:10px;
   transition: 0.4s ease-in-out;
   @include responsive{
      display: none;
   }
   img{
      width:30px;
      height:30px;
      object-fit: cover;
   }
}
header{
   position: sticky;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100vw;
   height: fit-content;
   background-color: #f5f5f5;
}
.nav-bar{
   display:flex;
   justify-content: center;
   gap:15px;
   padding: 20px 0;
   border-top: 1px solid grey;
   @include responsive{
      display: none;
   }
   p{
      position:relative;
   }

   a{
      text-decoration: none;
      opacity: 0.5;
      color: #383838;
      font-size:14px;
      transition: 0.4s ease-in;
      text-transform: capitalize;
      font-size:18px;
      &:hover, &.activate{
         opacity: 1;
      }
   }

}
marquee{
   background-color: rgb(228, 151, 7);
   color: #f5f5f5;
}
.nav-bar p a:hover::after,
.nav-bar p a.activate::after{
   content:"";
   width: 50%;
   height: 3px;
   background-color: #383838;
   position: absolute;
   bottom: -4px;
   left: 15px;
}
.logo{
   object-fit: cover;
   align-self: center;
   width:95px;
   height:50px;
}
#search{
   width:300px;
   height:fit-content;
   padding: 15px 20px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}
.search-box{
   display:none;
   @include responsive{
      position: relative;
      height: 60px;
      width:0px;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265 , 1.55);
      &.actives{
         width: 250px;
      }
      &.actives .cancel-btn{
         right: -135px;
         opacity: 1;
         color: #fff;
         transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265 , 1.55);

      }
      &.actives .search-btn{
          height: 50px;
          width: 50px;
          background-color: rgb(228, 151, 7);
          color: #fff;
      }
      &.actives input{
         opacity: 1;
      }
   }
   input{
      @include responsive{
         height: 100%;
         width: 100%;
         border: none;
         background: #fff;
         font-size: 17px;
         border-radius: 50px;
         padding: 0 30px 0 20px;
         outline: none;
         opacity: 0;
         transition: all 0.5s cubic-bezier(0.68,-0.55, 0.265,1.55);
      }
   }
}
.cancel-btn{
   @include responsive{
      position: absolute;
      color: rgb(228, 151, 7);
      top: 50%;
      right:-75px;
      transform: translateY(-50%);
      font-size: 25px;
      cursor: pointer;
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50%;
      opacity: 0;
   }
}
.search-btn{
   @include responsive{
      height: 50px;
      width: 50px ;
      background-color: #fff;
      color: black;
      position: absolute;
      top: 50%;
      right: -75px;
      transform: translateY(-50%);
      line-height: 50px;
      text-align: center;
      border-radius: 50%;
      font-size: 20px;
      cursor: pointer;
      transition: all 0.5s cubic-bezier(0.68,-0.55, 0.265,1.55);
      z-index: 2;

   }
}
.btnn{
   padding: 12px 20px;
   height: fit-content;
   width: fit-content;
   font-size: 18px;
   color: #f5f5f5;
   background-color:#383838;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
}
.search-menu{
   display:flex;
   @include responsive{
      display: none;
   }
}
.text-sell{
   position: absolute;
   text-align: center;
   background: rgba(75, 74, 74, 0.2);
   height: calc(100vh - 120px);
   width: 100%;
   p{
      color: #f5f5f5;
      font-size: 14px;
   }
   h2{
      font-weight: bold;
      font-size: 45px;
      color:#666666;
      animation:example 3s ease-out infinite;
   }
}
@keyframes example{
   0%{
      opacity: 0;
      transform: translateY(80%);
   }
   20%{
      opacity: 0;
   }
   50%{
      opacity: 1;
      transform: translateY(0%);
   }
   100%{
      opacity: 1;
      transform: translateY(0%);
   }
}
.product-sell{
   position: relative;
   height: fit-content;
   img{
      height: calc(100vh - 120px);
      object-fit: cover;
      width:100%;
   }
}
.btn-2{
   width: fit-content;
   height: fit-content;
   padding: 15px 35px;
   border-radius: 25px;
   border: none;
   text-transform: capitalize;
}
.trans{
   transform:translateY(98%)
}
.fa{
   font-size: 80px;
   cursor: pointer;
   user-select: none;
}
.fa:hover{
   color: rgb(2, 2, 87);
}
.card-product{
   padding-bottom: 10px;
   position: relative;
   p{
      position:absolute;
      color:rgb(228, 151, 7);
      background-color:rgb(245, 211, 149);
      padding: 3px;
      font-size:14px;
   }
   img{
      object-fit:cover;
      width: 180px;
      height: 150px;
   }
}
a{
   text-decoration: none;
   color: black;
}
.splash p{
   font-weight: bold;
   text-transform: capitalize ;
}
.best-card{
   height: fit-content;
   width:200px;
   background-color: #f5f5f5;
   padding: 5px;
   &:hover{
      transform: scale(1);
   }
}
.best-grid{
   display: flex;
   gap: 15px;
   overflow-x: scroll;
   scroll-behavior: smooth;
   height: fit-content;
   margin: 20px 0;
   width: 100%;
}
::-webkit-scrollbar{
   display: none;
}
.best{
   height:fit-content;
   padding: 20px 8vw;
   h2{
      font-weight: bold;
      color:#383838;

   }
}
.de{
   color: grey;
   font-size: 14px;
}
.through{
   text-decoration: line-through;
   color:grey;
}
.apparel-card{
   width:250px;
   height: 350px;
   border-radius: 20px;
   padding: 15px 15px 20px 15px;
   background-color: #fff;
   box-shadow: 0 8px 8px rgba(0,0,0,0.2);
   &:hover{
      transform:scale(1.1);
      box-shadow: -0 -8px 8px rgba(0,0,0,0.2);
   }
   @include responsive{
      width: 200px;
      height: 260px;
      padding: 10px ;
   }
   img{
      width: 220px;
      height: 220px;
      object-fit: cover;
      border-radius: 15px;
      @include responsive{
         width: 180px;
         height: 150px;
      }
   }
}
.name{
   color:grey;
   font-weight:600;
   font-size:15px
}
.brands{
   text-transform:capitalize;
   font-weight: 600;
}
.actual-price{
   display:flex;
   justify-content: space-between;
   p{
      align-self: center;
      color:rgb(240, 212, 161);
   }
}
.apparel{
   padding: 20px 0;
   background-color: #f5f5f5;
   width: 100%;
   height:fit-content;
   h2{
      padding:10px 8vw;
   }
}
.cart-price{
   height: 30px;
   width: 30px;
   border-radius: 50%;
   align-self: center;
   padding: 10px 0 12px 0;
   background-color: rgb(240, 212, 161);
   text-align: center;
}
.apparel-grid{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 20px;
   padding: 0 8vw;
   @include responsive{
      padding: 0 auto;
      grid-template-columns: repeat(2,1fr);
      align-items: center;
      justify-content: center;
      gap: 25px;
   }
}
.view{
   float: right;
   text-decoration: none;
   color: rgb(240, 212, 161);
   font-size: 18px;
   padding: 15px 8vw;
   margin: 15px 0;
   &:hover{
      transition:all 0.4s;
      color:rgb(228, 151, 7);
   }
   @include responsive{
      padding: 15px 5vw;
   }
}