@use "product" as *;
*::before,*::after{
   padding: 0;
   margin:0;
   box-sizing: border-box;
}
body{
   width: 100vw;
   overflow-x: hidden;
}
nav{
   display: flex;
   justify-content: space-between;
   padding: 20px 8vw;
}
.menu-icons{
   display:flex;
   gap:10px;
   transition: 0.4s ease-in-out;
   img{
      width:30px;
      height:30px;
      object-fit: cover;
   }
}
header{
   position: sticky;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100vw;
   height: fit-content;
   background-color: #f5f5f5;
}
.nav-bar{
   display:flex;
   justify-content: center;
   gap:15px;
   padding: 10px 0;
   border-top: 1px solid grey;

   a{
      text-decoration: none;
      opacity: 0.5;
      color: #383838;
      font-size:14px;
      transition: 0.4s ease-in;
      text-transform: capitalize;
      font-size:18px;
      &:hover{
         opacity: 1;
      }
   }

}
.logo{
   object-fit: cover;
   align-self: center;
   width:95px;
   height:50px;
}
#search{
   width:300px;
   height:fit-content;
   padding: 15px 20px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}
.btnn{
   padding: 12px 20px;
   height: fit-content;
   width: fit-content;
   font-size: 18px;
   color: #f5f5f5;
   background-color:#383838;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
}
.search-menu{
   display:flex;
}
.text-sell{
   position: absolute;
   text-align: center;
   background: rgba(75, 74, 74, 0.2);
   height: calc(100vh - 120px);
   width: 100%;
   p{
      color: #f5f5f5;
      font-size: 14px;
   }
   h2{
      font-weight: bold;
      font-size: 45px;
      color:#666666;
      animation:example 3s ease-out infinite;
   }
}
@keyframes example{
   0%{
      opacity: 0;
      transform: translateY(80%);
   }
   20%{
      opacity: 0;
   }
   50%{
      opacity: 1;
      transform: translateY(0%);
   }
   100%{
      opacity: 1;
      transform: translateY(0%);
   }
}
.product-sell{
   position: relative;
   height: fit-content;
   img{
      height: calc(100vh - 120px);
      object-fit: cover;
      width:100%;
   }
}
.btn-2{
   width: fit-content;
   height: fit-content;
   padding: 15px 35px;
   border-radius: 25px;
   border: none;
   text-transform: capitalize;
}
.trans{
   transform:translateY(98%)
}
.fa{
   font-size: 80px;
   cursor: pointer;
   user-select: none;
}
.fa:hover{
   color: rgb(2, 2, 87);
}
.card-product{
   padding-bottom: 10px;
   position: relative;
   p{
      position:absolute;
      color:rgb(228, 151, 7);
      background-color:rgb(245, 211, 149);
      padding: 3px;
      font-size:14px;
   }
   img{
      object-fit:cover;
      width: 200px;
      height: 150px;
   }
}
a{
   text-decoration: none;
   color: black;
}
.splash p{
   font-weight: bold;
   text-transform: capitalize ;
}
.best-card{
   height: fit-content;
   width:200px;
   background-color: #f5f5f5;
   padding: 5px;
   &:hover{
      transform: scale(1);
   }
}
.best-grid{
   display: flex;
   gap: 15px;
   overflow-x: scroll;
   scroll-behavior: smooth;
   height: fit-content;
   margin: 20px 0;
   width: 100%;
}
::-webkit-scrollbar{
   display: none;
}
.best{
   height:fit-content;
   padding: 20px 8vw;
   h2{
      font-weight: bold;
      color:#383838;

   }
}
.de{
   color: grey;
   font-size: 14px;
}
.through{
   text-decoration: line-through;
   color:grey;
}