$mobile:799px;
@mixin responsive {
   @media(max-width:$mobile){
      @content;
   };

};

.jewelry-card{
   width: 200px;
   height: 250px;
   border-radius: 10px;
   img{
      object-fit:cover;
      width: 200px;
      height:150px;
      border-radius: 10px;
   }
}
.slideshow-container{
   max-width:220px;
   position: relative;
}
.imaged{
   vertical-align: middle;
}
.colored{
   background-color: rgb(228,151,7);
   position:relative;
}

.mySlides{
   display: none;
   button{
      width: fit-content;
      height: fit-content;
      border-radius: 25px;
      padding: 15px 20px;
      background-color: #fff;
   }
   a{
      text-decoration: none;
      color: #383838;
      text-transform: capitalize;
   }
}
.fade{
   animation-name: fade;
   animation-duration: 1.5s;
}
@keyframes fade{
   from{opacity: .4;}
   to {opacity: 1;}
}
.dot{
   height: 5px;
   width: 5px;
   margin: 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
}
.actives{
   background-color: #71717171;
}
.trend{
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   color: #383838;
}
.jewel-grid{
   display: flex;
   gap: 15px;
   // padding: 20px 8vw;
   overflow-x:scroll;
   scroll-behavior: smooth;
   width:100%;
   height: fit-content;

}
::-webkit-scrollbar{
   display:none;
}
.jewel-coll{
   padding: 20px 8vw;
   background-color: #fff;
   height:fit-content;
   h2{
      font-weight: bold;
      text-transform: capitalize;
      font-size: 20px;
   }
   .offer-off{
      font-size: 14px;
      text-transform: capitalize;
      color: grey;
   }
}
.footer-head{
   display: flex;
   background-color: rgb(228,151,7);
   justify-content: space-between;
   padding: 10px 8vw;
   color: #f5f5f5;
   @include responsive{
      padding: 10px 5vw;
   }
   span{
      margin-left: 10px;
   }
}
footer{
   height: fit-content;
   width: 100vw;

}
.footer-grid{
   display: flex;
   justify-content: space-between;
   padding: 20px 8vw;
   width: 100%;
   background-color: rgb(150, 99, 5);
   color: #f5f5f5;
   @include responsive{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px 8vw;
   }
   p{
      text-transform: capitalize;
      font-size: 15px;
      color: #f5f5f5;
   }
   h2{
      text-transform: uppercase;
      font-size: 20px;
      font-weight:bold ;
      padding: 15px  0;
   }
   a{
      text-transform: capitalize;
      text-decoration: none;
      font-size: 13px;
      color: rgb(231, 181, 86);
   }
  
}
// .my-account::before, .team::before, .customer-care::before, .buying-sell::before{
//    // border-right: 1px solid grey;
//    // padding-right: 5px;
//    position: absolute;
//    content: "";
//    width: 1px;
//    height: 150px;
//    color:black;
//    right: 30%;
//    top: 5%;

// }
.footer-sub{
   display: flex;
   justify-content: space-between;
   width: 100vw;
   padding: 20px 8vw;
   background-color: rgb(150, 99, 5);
   border: none;
   color: #f5f5f5;
   @include responsive{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px 5vw;
   }
   #email{
      width: 250px;
      height: fit-content;
      padding: 10px 15px;
      border-radius: 25px;
      &::placeholder{
         opacity: 0.7;
         color: gray;
      }
   }
}
.subscribe{
   p{
      text-transform: capitalize;
      font-size: 14px;
      padding: 10px 0;
   }
}
.email{
   height: fit-content;
   width: fit-content;
   padding: 10px 20px;
   margin-left: 10px;
   border-radius: 25px;
   background-color: rgb(231, 181, 86);
   color: #f5f5f5;
   box-shadow: 3px 3px 6px rgb(150, 99, 5);
   &:hover{
      transition: all .3s ease;
   }
}
.logo-light{
   width: 90px;
   height: 50px;
   object-fit: cover;
}
.payment img{
   width: 30px;
   height: 30px;
   object-fit: cover;
}
.following{
   h3{
      color: #f5f5f5;
      padding: 10px;
      size: 18px;
   }
   p{
      text-transform: capitalize;
      font-size: 17px;
      padding: 5px 0;
   }
   span{
      height: fit-content;
      width: fit-content;
      border: 1px solid rgb(228,151,7);
      padding:8px;
      margin: 15px 0;
      background-color: rgb(231, 181, 86);
      border-radius: 50%;
   }
}
.classic{
   display: flex;
   gap: 20px;
   color: #f5f5f5;
   padding: 15px 0;
}
.copyright{
   text-align: center;
   background-color: rgb(151, 134, 102);
   color: #f5f5f5;
}
.hero-contact{
   text-align: center;
   color: #383838;
   font-family: monospace;
}
.contact-grid{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   height: fit-content;
   width: 100vw;
   padding: 20px 8vw;
   color: #383838;
   h2{
      padding: 15px 0;
      font-size: 30px;
   }
   p{
      padding: 15px 0;
   }
   span{
      margin-right: 15px;
   }
   .map{
      padding:15px 0;
      height: 500px;
   }
}
.customer-info{
   margin: 10px 8vw;
   background-color: rgb(228,151,7);
   height: 60vh;
   // width: 100vw;
   padding: 20px 40px;
   input{
      width: 500px;
      height: fit-content;
      padding: 10px;
      border-bottom: 1px solid #383838;
      border-top: none;
      background-color: rgb(228,151,7);
      border-right:none;
      border-left:none;
      margin:15px 0px 5px 0px ;
   }
   input:hover{
      border: 2px solid #f5f5f5;
      background-color: #f5f5f5;
      border-radius: 25px;
   }
}
textarea{
   width: 300px;
   resize: vertical;
   outline: none;
   padding: 15px;
   height: 400px;
}