.jewelry-card{
   width: 200px;
   height: 250px;
   border-radius: 10px;
   img{
      object-fit:cover;
      width: 200px;
      height:150px;
      border-radius: 10px;
   }
}
.slideshow-container{
   max-width:220px;
   position: relative;
}
.imaged{
   vertical-align: middle;
}
.colored{
   background-color: rgb(228,151,7);
   position:relative;
}

.mySlides{
   display: none;
   button{
      width: fit-content;
      height: fit-content;
      border-radius: 25px;
      padding: 15px 20px;
      background-color: #fff;
   }
   a{
      text-decoration: none;
      color: #383838;
      text-transform: capitalize;
   }
}
.fade{
   animation-name: fade;
   animation-duration: 1.5s;
}
@keyframes fade{
   from{opacity: .4;}
   to {opacity: 1;}
}
.dot{
   height: 5px;
   width: 5px;
   margin: 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
}
.actives{
   background-color: #71717171;
}
.trend{
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   color: #383838;
}
.jewel-grid{
   display: flex;
   gap: 15px;
   // padding: 20px 8vw;
   overflow-x:scroll;
   scroll-behavior: smooth;
   width:100%;
   height: fit-content;

}
::-webkit-scrollbar{
   display:none;
}
.jewel-coll{
   padding: 20px 8vw;
   background-color: #fff;
   height:fit-content;
   h2{
      font-weight: bold;
      text-transform: capitalize;
      font-size: 20px;
   }
   .offer-off{
      font-size: 14px;
      text-transform: capitalize;
      color: grey;
   }
}
.footer-head{
   display: flex;
   background-color: rgb(228,151,7);
   justify-content: space-between;
   padding: 10px 8vw;
   color: #f5f5f5;
   span{
      margin-left: 10px;
   }
}
footer{
   height: fit-content;
   width: 100vw;

}
.footer-grid{
   display: flex;
   justify-content: space-between;
   padding: 20px 8vw;
   width: 100%;
   background-color: rgb(150, 99, 5);
   color: #f5f5f5;
   p{
      text-transform: capitalize;
      font-size: 15px;
      color: #f5f5f5;
   }
   h2{
      text-transform: uppercase;
      font-size: 20px;
      font-weight:bold ;
      padding: 15px  0;
   }
   a{
      text-transform: capitalize;
      text-decoration: none;
      font-size: 13px;
      color: rgb(231, 181, 86);
   }
  
}
.my-account, .team, .customer-care, .buying-sell{
   border-right: 1px solid grey;
   padding-right: 5px;
}
.footer-sub{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   width: 100vw;
   padding: 20px 8vw;
   background-color: rgb(150, 99, 5);
   border: none;
   color: #f5f5f5;
   #email{
      width: 250px;
      height: fit-content;
      padding: 10px 15px;
      border-radius: 25px;
      &::placeholder{
         opacity: 0.7;
         color: gray;
      }
   }
}
.email{
   height: fit-content;
   width: fit-content;
   padding: 10px 20px;
   margin-left: 10px;
   border-radius: 25px;
   background-color: rgb(231, 181, 86);
   color: #f5f5f5;
   box-shadow: 3px 3px 6px rgb(150, 99, 5);
}
.logo-light{
   width: 70px;
   height: 50px;
   object-fit: cover;
}
.payment img{
   width: 30px;
   height: 30px;
   object-fit: cover;
}