.jewlery-card{
   width: 250px;
   height: 250px;
   border-radius: 10px;
   img{
      object-fit:cover;
      width: 150px;
      height:150px;
   }
}
.slideshow-container{
   max-width:220px;
   position: relative;
}
.imaged{
   vertical-align: middle;
}
.colored{
   background-color: rgb(228,151,7);
}
.mySlides{
   display: none;
   button{
      width: fit-content;
      height: fit-content;
      border-radius: 25px;
      padding: 15px 20px;
      background-color: #fff;
   }
   a{
      text-decoration: none;
      color: #383838;
      text-transform: capitalize;
   }
}
.fade{
   animation-name: fade;
   animation-duration: 1.5s;
}
@keyframes fade{
   from{opacity: .4;}
   to {opacity: 1;}
}
.dot{
   height: 5px;
   width: 5px;
   margin: 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
}
.actives{
   background-color: #71717171;
}
.trend{
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   color: #383838;
}
.jewlery-grid{
   display: flex;
   gap: 15px;
   padding: 20px 8vw;
   overflow-x:scroll;
   scroll-behavior: smooth;
   width:100%;
   height: fit-content;

}
::-webkit-scrollbar{
   display:none;
}
.jewlery-coll{
   width: 100vw;
   height: fit-content;
   background-color: #fff;
   height:fit-content;
}